<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-md-4">
                <img [src]="heroe.img" class="img-fluid rounded-start" alt="CardPresentacion">
                <br><br>
                <div class="d-grid gap-2">
                    <a [routerLink]="['/heroes']" class="btn btn-outline-danger">
                    Regresar
                </a>
                </div>
                <br>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{heroe.nombre}}</h5>
                    <hr>
                    <p class="card-text">{{heroe.bio}}</p>
                    <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
                </div>
                <div class="card-body">
                    <img *ngIf="heroe.casa != 'Marvel'" class="img-logo" src="assets/img/dc.png" alt="DC">
                    <img *ngIf="heroe.casa != 'DC'" class="img-logo" src="assets/img/marvel.png" alt="Marvel">
                </div>
            </div>
        </div>
    </div>
</div>